.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 30%;
      margin: auto;
  }

.newline {
  padding: 50px 0;
}

.carousel {
  margin-top: 50px;
}

.img-carousel,
  .img-profile {
  width: 300px;
  height: 300px;
}
